.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Mail {
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    
    .mail-contaner {
        width: 650px;
        margin-top: 20px;
    }

    .full-name-inputs {
        display: flex;

        .first-name-input{
            margin-right: 5px;
        }

        .last-name-input{
            margin-left: 5px;
        }
    }

    h1 {
        font-size: 11em;
        text-align: center;
        margin: 0 0 20px 0;
        color: var(--accent-color)
    }
        
    h2 {
        font-size: 1.5em;
        margin-left: 5px;
    }

    input, textarea {
        margin: 10px 0 20px 0;
    }
        
    .message-input {
        height: 200px;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-right: -3px;
    }

    .NavButton {
        z-index: 10;
    }
    
}