.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 0;
    /* margin-bottom: 30px; */
    background-color: #efeeee;
    color: #A1A2AB;
    font-size: 25px;
    border-radius: 100px;
    box-shadow:
        -6px -6px 16px rgba(255, 255, 255, 1),
        6px 6px 16px rgba(209, 205, 199, 0.8);

    img {
        width: 18px;
    }
}

.nav-button:hover {
    border-color: #FE5876;
}