.NavButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 25px;
    border-radius: 100px;
    box-shadow:
        -6px -6px 16px rgba(255, 255, 255, 1),
        6px 6px 16px rgba(209, 205, 199, 0.8);

    img {
        width: 18px;
    }

    &:hover {
        border-color: var(--accent-color);
    }

    &:active {
        border: none;
        box-shadow:
        inset -6px -6px 10px rgba(255, 255, 255, 1),
        inset 6px 6px 10px rgba(209, 205, 199, 0.8);
    }
}
